# Data Preprocessing for predicting Transcription Rate (TS)

In [10]:
import numpy as np
import pandas as pd
# To display all the columns
pd.options.display.max_columns = None
import os
import sys
import matplotlib.pyplot as plt
import json

# Set paths
BASE_DIR = os.path.realpath(os.path.join(os.path.abspath(''),'../..'))
if not os.path.exists(BASE_DIR):
    print('ERROR!, base path {} does not exist! Setting to None'.format(BASE_DIR))
    BASE_DIR = None
else:
    print('BASE_DIR: {}'.format(BASE_DIR))

DATA_DIR = os.path.join(BASE_DIR, 'datasets', 'raw')
if not os.path.exists(DATA_DIR):
    print('ERROR!, data path {} does not exist! Setting to None'.format(DATA_DIR))
    DATA_DIR = None
else:
    print('DATA_DIR: {}\n'.format(DATA_DIR))
    
# Add BASE_DIR to sys paths (for loading libraries)
sys.path.insert(1, os.path.join(BASE_DIR, 'workspace'))
# Load mpp_data library to convert raw data into images
from pelkmans.mpp_data import MPPData as MPPData

# List available local Wells
wells = [d for d in os.listdir(DATA_DIR) if os.path.isdir(os.path.join(DATA_DIR, d))]
print('Available local wells: \n', wells)

BASE_DIR: /home/hhughes/Documents/Master_Thesis/Project
DATA_DIR: /home/hhughes/Documents/Master_Thesis/Project/datasets/raw

Available local wells:
 ['I11', 'I09', 'J10']

Load raw data:

Set parameters for data transformation:

In [2]:
# In case you only want to load some specific wells, rename 'wells'
wells = ['J10']

data_params = {
    # where to read data from
    'data_dirs': [os.path.join(DATA_DIR, well) for well in wells],
    'dir_type': 'hannah',
    # make results reproducible
    'seed': 42,
    # input/output definition
    'input_channels': [
        '00_DAPI',
        '07_H2B',
        '01_CDK9_pT186',
        '03_CDK9',
        '05_GTF2B',
        '07_SETD1A',
        '08_H3K4me3',
        '09_SRRM2',
        '10_H3K27ac',
        '11_KPNA2_MAX',
        '12_RB1_pS807_S811',
        '13_PABPN1',
        '14_PCNA',
        '15_SON',
        '16_H3',
        '17_HDAC3',
        '19_KPNA1_MAX',
        '20_SP100',
        '21_NCL',
        '01_PABPC1',
        '02_CDK7',
        '03_RPS6',
        '05_Sm',
        '07_POLR2A',
        '09_CCNT1',
        '10_POL2RA_pS2',
        '11_PML',
        '12_YAP1',
        '13_POL2RA_pS5',
        '15_U2SNRNPB',
        '18_NONO',
        '20_ALYREF',
        '21_COIL',
    ],
    'output_channels': ['00_EU'],
    'aggregate_output': 'avg', # None results in output images, 'max', 'avg' aggregate output channels and output a single number
    # train/val/test split
    'train_frac': 0.5,
    'val_frac': 0.4,
    'img_size': 224,
    # normalisation
    'background_value': os.path.join(DATA_DIR, 'secondary_only_relative_normalisation.csv'),
    'normalise': True,
    'percentile': 98.0,
    # Condition
    'cell_cycle_file': os.path.join(DATA_DIR, 'cell_cycle_classification.csv'),
    #'condition': ['G1', 'S', 'G2'],
    'condition': ['cell_cycle'],
    'subset_to_cell_cycle': True,
}

Process data:

In [3]:
p = data_params

mpp_datas = {'train': [], 'val': [], 'test': []}
for data_dir in p['data_dirs']:
    # Load data as an MPPData object
    mpp_data = MPPData.from_data_dir(data_dir,
                                     dir_type=p['dir_type'],
                                     seed=p['seed'])

    # Subtract background  values for each channel
    if p['normalise']:
        mpp_data.subtract_background(p['background_value'])
    
    # Split data into train, validation and test
    train, val, test = mpp_data.train_val_test_split(p['train_frac'], p['val_frac'])
    
    # Save well data in dic
    mpp_datas['train'].append(train)
    mpp_datas['test'].append(test)
    mpp_datas['val'].append(val)
    
# merge data from all the loaded wells
train = MPPData.concat(mpp_datas['train'])
val = MPPData.concat(mpp_datas['val'])
test = MPPData.concat(mpp_datas['test'])

# Normalize train, val and test using the normalization parameters
# got from the train data (inner percentile% of train data)
if p['normalise']:
    rescale_values = train.rescale_intensities_per_channel(percentile=p['percentile'])
    _ = val.rescale_intensities_per_channel(rescale_values=rescale_values)
    _ = test.rescale_intensities_per_channel(rescale_values=rescale_values)
    p['normalise_rescale_values'] = list(rescale_values)

# Filter cells depending on its condition (cell state (G1, S or G2))
'''if p.get('condition', None) is not None:
    train.add_conditions(p['condition'], 
                         cell_cycle_file=p.get('cell_cycle_file', None), 
                         subset=p.get('subset_to_cell_cycle', False))
    val.add_conditions(p['condition'], 
                       cell_cycle_file=p.get('cell_cycle_file', None), 
                       subset=p.get('subset_to_cell_cycle', False))
    test.add_conditions(p['condition'], 
                        cell_cycle_file=p.get('cell_cycle_file', None), 
                        subset=p.get('subset_to_cell_cycle', False))

# subset to channels
        if p.get('channels', None) is not None:
            train.subset_channels(p['channels'])
            val.subset_channels(p['channels'])
            test.subset_channels(p['channels'])
'''

missing background value for channels ['00_EU', '09_SRRM2_ILASTIK', '15_SON_ILASTIK']

"if p.get('condition', None) is not None:\n    train.add_conditions(p['condition'], \n                         cell_cycle_file=p.get('cell_cycle_file', None), \n                         subset=p.get('subset_to_cell_cycle', False))\n    val.add_conditions(p['condition'], \n                       cell_cycle_file=p.get('cell_cycle_file', None), \n                       subset=p.get('subset_to_cell_cycle', False))\n    test.add_conditions(p['condition'], \n                        cell_cycle_file=p.get('cell_cycle_file', None), \n                        subset=p.get('subset_to_cell_cycle', False))\n\n# subset to channels\n        if p.get('channels', None) is not None:\n            train.subset_channels(p['channels'])\n            val.subset_channels(p['channels'])\n            test.subset_channels(p['channels'])\n"

In [5]:
(mpp_data.__dict__).keys()

dict_keys(['log', 'mapobject_ids', 'metadata', 'channels', 'labels', 'x', 'y', 'seed', 'mpp', 'mcu_ids', 'conditions', 'data_dir'])

In [11]:
mpp_data.metadata.head(20)

,mapobject_id,plate_name,well_name,well_pos_y,well_pos_x,tpoint,zplane,label,is_border,mapobject_id_cell,plate_name_cell,well_name_cell,well_pos_y_cell,well_pos_x_cell,tpoint_cell,zplane_cell,label_cell,is_border_cell,is_mitotic,is_mitotic_labels,is_polynuclei_HeLa,is_polynuclei_HeLa_labels,is_polynuclei_184A1,is_polynuclei_184A1_labels
0,279425,plate01,J10,0,0,0,0,1,0,279369,plate01,J10,0,0,0,0,1,1,0.0,NaN,0.0,NaN,0.0,NaN
1,279426,plate01,J10,0,0,0,0,2,0,279370,plate01,J10,0,0,0,0,2,1,0.0,NaN,0.0,NaN,0.0,NaN
2,279427,plate01,J10,0,0,0,0,3,0,279371,plate01,J10,0,0,0,0,3,1,1.0,NaN,1.0,NaN,0.0,NaN
3,279428,plate01,J10,0,0,0,0,4,0,279372,plate01,J10,0,0,0,0,4,1,0.0,NaN,0.0,NaN,0.0,NaN
4,279429,plate01,J10,0,0,0,0,5,0,279373,plate01,J10,0,0,0,0,5,1,0.0,NaN,0.0,NaN,0.0,NaN
5,279430,plate01,J10,0,0,0,0,6,0,279374,plate01,J10,0,0,0,0,6,0,0.0,NaN,0.0,NaN,0.0,NaN
7,279432,plate01,J10,0,0,0,0,8,0,279376,plate01,J10,0,0,0,0,8,0,1.0,NaN,1.0,NaN,0.0,NaN
8,279433,plate01,J10,0,0,0,0,9,0,279377,plate01,J10,0,0,0,0,9,0,0.0,NaN,0.0,NaN,0.0,NaN
9,279434,plate01,J10,0,0,0,0,10,0,279378,plate01,J10,0,0,0,0,10,0,1.0,NaN,1.0,NaN,0.0,NaN
10,279435,plate01,J10,0,0,0,0,11,0,279379,plate01,J10,0,0,0,0,11,0,0.0,NaN,0.0,NaN,0.0,NaN
11,279436,plate01,J10,0,0,0,0,12,0,279380,plate01,J10,0,0,0,0,12,0,1.0,NaN,1.0,NaN,0.0,NaN
13,279438,plate01,J10,0,0,0,0,14,0,279382,plate01,J10,0,0,0,0,14,0,0.0,NaN,0.0,NaN,0.0,NaN
14,279439,plate01,J10,0,0,0,0,15,0,279383,plate01,J10,0,0,0,0,15,0,0.0,NaN,0.0,NaN,0.0,NaN
15,279440,plate01,J10,0,0,0,0,16,0,279384,plate01,J10,0,0,0,0,16,0,0.0,NaN,0.0,NaN,0.0,NaN
16,279441,plate01,J10,0,0,0,0,17,0,279385,plate01,J10,0,0,0,0,17,0,0.0,NaN,0.0,NaN,0.0,NaN
17,279442,plate01,J10,0,0,0,0,18,0,279386,plate01,J10,0,0,0,0,18,1,0.0,NaN,0.0,NaN,0.0,NaN
18,279443,plate01,J10,0,0,0,0,19,0,279387,plate01,J10,0,0,0,0,19,0,0.0,NaN,0.0,NaN,0.0,NaN
19,279444,plate01,J10,0,0,0,0,20,0,279388,plate01,J10,0,0,0,0,20,0,0.0,NaN,0.0,NaN,0.0,NaN
20,279445,plate01,J10,0,0,0,0,21,0,279389,plate01,J10,0,0,0,0,21,0,0.0,NaN,0.0,NaN,0.0,NaN
21,279446,plate01,J10,0,0,0,0,22,0,279390,plate01,J10,0,0,0,0,22,0,0.0,NaN,0.0,NaN,0.0,NaN

In [7]:
train.__dict__.keys()

dict_keys(['log', 'mapobject_ids', 'metadata', 'channels', 'labels', 'x', 'y', 'seed', 'mpp', 'mcu_ids', 'conditions'])

In [12]:
train.metadata.head(20)
# Los mapobject_id coinciden con los del objeto original mpp_data
# entonces para que la semilla? ver si se barajean las observaciones

,mapobject_id,plate_name,well_name,well_pos_y,well_pos_x,tpoint,zplane,label,is_border,mapobject_id_cell,plate_name_cell,well_name_cell,well_pos_y_cell,well_pos_x_cell,tpoint_cell,zplane_cell,label_cell,is_border_cell,is_mitotic,is_mitotic_labels,is_polynuclei_HeLa,is_polynuclei_HeLa_labels,is_polynuclei_184A1,is_polynuclei_184A1_labels
0,279425,plate01,J10,0,0,0,0,1,0,279369,plate01,J10,0,0,0,0,1,1,0.0,NaN,0.0,NaN,0.0,NaN
1,279426,plate01,J10,0,0,0,0,2,0,279370,plate01,J10,0,0,0,0,2,1,0.0,NaN,0.0,NaN,0.0,NaN
2,279427,plate01,J10,0,0,0,0,3,0,279371,plate01,J10,0,0,0,0,3,1,1.0,NaN,1.0,NaN,0.0,NaN
3,279428,plate01,J10,0,0,0,0,4,0,279372,plate01,J10,0,0,0,0,4,1,0.0,NaN,0.0,NaN,0.0,NaN
4,279429,plate01,J10,0,0,0,0,5,0,279373,plate01,J10,0,0,0,0,5,1,0.0,NaN,0.0,NaN,0.0,NaN
5,279432,plate01,J10,0,0,0,0,8,0,279376,plate01,J10,0,0,0,0,8,0,1.0,NaN,1.0,NaN,0.0,NaN
6,279433,plate01,J10,0,0,0,0,9,0,279377,plate01,J10,0,0,0,0,9,0,0.0,NaN,0.0,NaN,0.0,NaN
7,279436,plate01,J10,0,0,0,0,12,0,279380,plate01,J10,0,0,0,0,12,0,1.0,NaN,1.0,NaN,0.0,NaN
8,279438,plate01,J10,0,0,0,0,14,0,279382,plate01,J10,0,0,0,0,14,0,0.0,NaN,0.0,NaN,0.0,NaN
9,279442,plate01,J10,0,0,0,0,18,0,279386,plate01,J10,0,0,0,0,18,1,0.0,NaN,0.0,NaN,0.0,NaN
10,279444,plate01,J10,0,0,0,0,20,0,279388,plate01,J10,0,0,0,0,20,0,0.0,NaN,0.0,NaN,0.0,NaN
11,279445,plate01,J10,0,0,0,0,21,0,279389,plate01,J10,0,0,0,0,21,0,0.0,NaN,0.0,NaN,0.0,NaN
12,279447,plate01,J10,0,0,0,0,23,0,279391,plate01,J10,0,0,0,0,23,0,0.0,NaN,0.0,NaN,0.0,NaN
13,279448,plate01,J10,0,0,0,0,24,0,279392,plate01,J10,0,0,0,0,24,1,0.0,NaN,0.0,NaN,0.0,NaN
14,279455,plate01,J10,0,0,0,0,31,0,279399,plate01,J10,0,0,0,0,31,0,0.0,NaN,1.0,NaN,0.0,0.0
15,279458,plate01,J10,0,0,0,0,34,0,279402,plate01,J10,0,0,0,0,34,0,0.0,NaN,0.0,NaN,0.0,NaN
16,279459,plate01,J10,0,0,0,0,35,0,279403,plate01,J10,0,0,0,0,35,0,0.0,NaN,0.0,NaN,0.0,NaN
17,279460,plate01,J10,0,0,0,0,36,0,279404,plate01,J10,0,0,0,0,36,0,0.0,NaN,0.0,NaN,0.0,NaN
18,279463,plate01,J10,0,0,0,0,39,0,279407,plate01,J10,0,0,0,0,39,0,0.0,NaN,0.0,NaN,0.0,NaN
19,279464,plate01,J10,0,0,0,0,40,0,279408,plate01,J10,0,0,0,0,40,0,0.0,NaN,0.0,NaN,0.0,NaN

In [19]:
train_ids = np.unique(train.mapobject_ids)
print(train_ids)

[193561 193563 193565 193567 193569 193570 193572 193573 193577 193584
 208535 208537 208538 208541 208542 208543 208544 208546 208553 208555
 208557 208558 208563 208565 208568 208569 208570 212782 212783 212785
 212788 212790 212791 212792 212795 212796 212797 212798 212799 212802
 212803 212805 212806 212808 212809 212810 212811 212814 224165 224167
 224169 224171 224173 224174 224177 224178 224181 224183 224184 246827
 246828 246829 246832 246838 246840 246846 246852 246854 246855 246857
 246858 246860 246862 246863 246864 246867 246868 246871 249425 249428
 249433 249434 249435 249438 249439 249442 249443 249444 249446 249447
 249448 249451 249453 249455 249456 249463 249464 249467 249469 249471
 258566 258572 258573 258574 258575 258576 258577 258578 258579 258582
 258584 258585 258587 258591 258592 258595 258599 258600 258602 258603
 258604 258609 258610 258613 258615 258616 259948 259953 259955 259958
 259959 259960 259964 259965 259966 259973 259974 259975 259977 259980
 259981 259985 259986 259989 259991 262988 262989 262992 262995 262997
 262998 262999 263001 263004 263005 263008 263009 263010 263011 263012
 263013 263015 263018 263020 263021 263024 263026 263029 263030 263031
 263032 263034 263035 271113 271114 271118 271120 271125 271127 271129
 271133 271134 271135 271137 271138 271140 271142 271144 271145 271146
 271147 271149 271150 271151 271154 271155 275882 275886 275887 275888
 275889 275894 275895 275896 277065 277066 277070 277078 277079 277082
 277083 277085 277087 278729 278731 278732 278733 278734 278736 278738
 278739 278740 278742 278743 278745 278746 278750 278751 278753 278755
 278756 279425 279426 279427 279428 279429 279432 279433 279436 279438
 279442 279444 279445 279447 279448 279455 279458 279459 279460 279463
 279464 279465 279467 279468 279472 279473 279475 279477 279478 284759
 284763 284765 284769 284771 284772 284778 284779 284782 284784 284785
 284788 284789 284791 284792 284794 284796 284797 284798 284799 284800
 284802 284803 284804 284805 284807 284808 284813 287423 287426 287430
 287433 287434 287436 287437 287440 287443 287445 287447 287448 298388
 298389 298390 298393 298395 298398 298401 298404 315259 315260 315263
 315264 315266 315268 315270 315271 315272 315274 315275 315276 315277
 315278 315279 315280 315282 315283 315285 315286 315292 315294 315295
 315296 315297 315298 315299 315301 315302 315303 321047 321050 321052
 321054 321056 321057 321059 321067 321068 321073 321074 321076 321079
 321080 321085 321086 321090 321091 321092 321093 321094 321099 323189
 323193 323195 323197 323200 323203 323208 323212 323214 323215 323217
 323227 323232 323234 323236 323237 323240 323242 323245 337010 337012
 337013 337015 337017 337019 337020 337022 337023 337026 337030 340071
 340079 340083 340086 340089 340090 340091 340093 340094 340095 340108
 346254 346260 346263 346264 346269 346271 346273 346276 351298 351300
 351303 351306 351309 351316 351317 351318 351320 351322 351323 351325
 351326 351329 351330 351333 351335 351338 351342 351343 351344 351347
 351351 351353 351354 351357 351358 353330 353336 353337 353338 353342
 353346 353349 353354 353357 357524 357527 357529 357532 357534 357535
 357536 357537 357538 357541 357542 357543 357548 357559 357560 357561
 357564 357565 357566 357567 357568 361927 361929 361934 361936 361940
 361941 361942 361944 361946 361947 361949 361952 361953 361956 361957
 361959 361963 361965 361969 361974 361975 361981 361982 361991 361993
 363250 363254 363256 363257 363259 363262 363263 363265 363266 363267
 363268 363272 363275 363279 363286 379447 379448 379449 379450 379451
 379454 379457 379461 379463 379464 379467 379468 379470 379471 379472
 379474 380650 380651 380652 380654 380659 380660 380661 380662 380664
 380665 380667 380668 380678 380685 380687 380690 380692 380693 380695]

In [25]:
train_meta_ids = np.unique(train.metadata.mapobject_id)
train_meta_ids

array([193561, 193563, 193565, 193567, 193569, 193570, 193572, 193573,
       193577, 193584, 208535, 208537, 208538, 208541, 208542, 208543,
       208544, 208546, 208553, 208555, 208557, 208558, 208563, 208565,
       208568, 208569, 208570, 212782, 212783, 212785, 212788, 212790,
       212791, 212792, 212795, 212796, 212797, 212798, 212799, 212802,
       212803, 212805, 212806, 212808, 212809, 212810, 212811, 212814,
       224165, 224167, 224169, 224171, 224173, 224174, 224177, 224178,
       224181, 224183, 224184, 246827, 246828, 246829, 246832, 246838,
       246840, 246846, 246852, 246854, 246855, 246857, 246858, 246860,
       246862, 246863, 246864, 246867, 246868, 246871, 249425, 249428,
       249433, 249434, 249435, 249438, 249439, 249442, 249443, 249444,
       249446, 249447, 249448, 249451, 249453, 249455, 249456, 249463,
       249464, 249467, 249469, 249471, 258566, 258572, 258573, 258574,
       258575, 258576, 258577, 258578, 258579, 258582, 258584, 258585,
       258587, 258591, 258592, 258595, 258599, 258600, 258602, 258603,
       258604, 258609, 258610, 258613, 258615, 258616, 259948, 259953,
       259955, 259958, 259959, 259960, 259964, 259965, 259966, 259973,
       259974, 259975, 259977, 259980, 259981, 259985, 259986, 259989,
       259991, 262988, 262989, 262992, 262995, 262997, 262998, 262999,
       263001, 263004, 263005, 263008, 263009, 263010, 263011, 263012,
       263013, 263015, 263018, 263020, 263021, 263024, 263026, 263029,
       263030, 263031, 263032, 263034, 263035, 271113, 271114, 271118,
       271120, 271125, 271127, 271129, 271133, 271134, 271135, 271137,
       271138, 271140, 271142, 271144, 271145, 271146, 271147, 271149,
       271150, 271151, 271154, 271155, 275882, 275886, 275887, 275888,
       275889, 275894, 275895, 275896, 277065, 277066, 277070, 277078,
       277079, 277082, 277083, 277085, 277087, 278729, 278731, 278732,
       278733, 278734, 278736, 278738, 278739, 278740, 278742, 278743,
       278745, 278746, 278750, 278751, 278753, 278755, 278756, 279425,
       279426, 279427, 279428, 279429, 279432, 279433, 279436, 279438,
       279442, 279444, 279445, 279447, 279448, 279455, 279458, 279459,
       279460, 279463, 279464, 279465, 279467, 279468, 279472, 279473,
       279475, 279477, 279478, 284759, 284763, 284765, 284769, 284771,
       284772, 284778, 284779, 284782, 284784, 284785, 284788, 284789,
       284791, 284792, 284794, 284796, 284797, 284798, 284799, 284800,
       284802, 284803, 284804, 284805, 284807, 284808, 284813, 287423,
       287426, 287430, 287433, 287434, 287436, 287437, 287440, 287443,
       287445, 287447, 287448, 298388, 298389, 298390, 298393, 298395,
       298398, 298401, 298404, 315259, 315260, 315263, 315264, 315266,
       315268, 315270, 315271, 315272, 315274, 315275, 315276, 315277,
       315278, 315279, 315280, 315282, 315283, 315285, 315286, 315292,
       315294, 315295, 315296, 315297, 315298, 315299, 315301, 315302,
       315303, 321047, 321050, 321052, 321054, 321056, 321057, 321059,
       321067, 321068, 321073, 321074, 321076, 321079, 321080, 321085,
       321086, 321090, 321091, 321092, 321093, 321094, 321099, 323189,
       323193, 323195, 323197, 323200, 323203, 323208, 323212, 323214,
       323215, 323217, 323227, 323232, 323234, 323236, 323237, 323240,
       323242, 323245, 337010, 337012, 337013, 337015, 337017, 337019,
       337020, 337022, 337023, 337026, 337030, 340071, 340079, 340083,
       340086, 340089, 340090, 340091, 340093, 340094, 340095, 340108,
       346254, 346260, 346263, 346264, 346269, 346271, 346273, 346276,
       351298, 351300, 351303, 351306, 351309, 351316, 351317, 351318,
       351320, 351322, 351323, 351325, 351326, 351329, 351330, 351333,
       351335, 351338, 351342, 351343, 351344, 351347, 351351, 351353,
       351354, 351357, 351358, 353330, 353336, 353337, 353338, 353342,
       353346, 353349, 353354, 353357, 357524, 357527, 357529, 357532,
       357534, 357535, 357536, 357537, 357538, 357541, 357542, 357543,
       357548, 357559, 357560, 357561, 357564, 357565, 357566, 357567,
       357568, 361927, 361929, 361934, 361936, 361940, 361941, 361942,
       361944, 361946, 361947, 361949, 361952, 361953, 361956, 361957,
       361959, 361963, 361965, 361969, 361974, 361975, 361981, 361982,
       361991, 361993, 363250, 363254, 363256, 363257, 363259, 363262,
       363263, 363265, 363266, 363267, 363268, 363272, 363275, 363279,
       363286, 379447, 379448, 379449, 379450, 379451, 379454, 379457,
       379461, 379463, 379464, 379467, 379468, 379470, 379471, 379472,
       379474, 380650, 380651, 380652, 380654, 380659, 380660, 380661,
       380662, 380664, 380665, 380667, 380668, 380678, 380685, 380687,
       380690, 380692, 380693, 380695])

In [38]:
meta_ids = np.unique(mpp_data.metadata.mapobject_id)

In [29]:
set(train_meta_ids).issubset(set(train_ids))

True

In [30]:
set(train_ids).issubset(set(train_meta_ids))

True

with the last 2 rows we can be sure that the ids in the data are the same as the ones in the metadata

In [40]:
set(meta_ids).issubset(set(train_ids))

False

In [9]:
# get images
train_dataset = np.array(train.get_object_imgs(data='MPP', img_size=p['img_size']))
val_dataset = np.array(val.get_object_imgs(data='MPP', img_size=p['img_size']))
test_dataset = np.array(test.get_object_imgs(data='MPP', img_size=p['img_size']))

In [5]:
# Get channels ids (proteins) which will be used to predict transcripcion rate
input_ids = list(train.channels.set_index('name').loc[p['input_channels']]['channel_id'])
# Get id of the channel that measure trancripcion rate
output_ids = list(train.channels.set_index('name').loc[p['output_channels']]['channel_id'])

# Create regressor (y)
if p['aggregate_output'] == 'avg':
    train_dataset_y = np.array([img[img!=0].mean() for img in train_dataset[:,:,:,output_ids]])
    val_dataset_y = np.array([img[img!=0].mean() for img in val_dataset[:,:,:,output_ids]])
    test_dataset_y = np.array([img[img!=0].mean() for img in test_dataset[:,:,:,output_ids]])

Save Processed data

In [6]:
# create dir
dataset_name = '184A1_hannah_EU_regression'
outdir = os.path.join(BASE_DIR, 'datasets', dataset_name)
os.makedirs(outdir, exist_ok=True)

# Save datasets
np.savez(os.path.join(outdir, 'train_dataset.npz'), x=train_dataset[:,:,:,input_ids], y=train_dataset_y)
np.savez(os.path.join(outdir, 'val_dataset.npz'), x=val_dataset[:,:,:,input_ids], y=val_dataset_y)
np.savez(os.path.join(outdir, 'test_dataset.npz'), x=test_dataset[:,:,:,input_ids], y=test_dataset_y)

# save params
json.dump(data_params, open(os.path.join(outdir, 'params.json'), 'w'), indent=4)

# save metadata
train.metadata.to_csv(os.path.join(outdir, 'train_metadata.csv'))
val.metadata.to_csv(os.path.join(outdir, 'val_metadata.csv'))
test.metadata.to_csv(os.path.join(outdir, 'test_metadata.csv'))
pd.concat([train.metadata, val.metadata, test.metadata]).to_csv(os.path.join(outdir, 'metadata.csv'))
train.channels.to_csv(os.path.join(outdir, 'channels.csv'))

In [6]:
pd.options.display.max_columns=None
train.metadata

,mapobject_id,plate_name,well_name,well_pos_y,well_pos_x,tpoint,zplane,label,is_border,mapobject_id_cell,plate_name_cell,well_name_cell,well_pos_y_cell,well_pos_x_cell,tpoint_cell,zplane_cell,label_cell,is_border_cell,is_mitotic,is_mitotic_labels,is_polynuclei_HeLa,is_polynuclei_HeLa_labels,is_polynuclei_184A1,is_polynuclei_184A1_labels
0,279425,plate01,J10,0,0,0,0,1,0,279369,plate01,J10,0,0,0,0,1,1,0.0,NaN,0.0,NaN,0.0,NaN
1,279426,plate01,J10,0,0,0,0,2,0,279370,plate01,J10,0,0,0,0,2,1,0.0,NaN,0.0,NaN,0.0,NaN
2,279427,plate01,J10,0,0,0,0,3,0,279371,plate01,J10,0,0,0,0,3,1,1.0,NaN,1.0,NaN,0.0,NaN
3,279428,plate01,J10,0,0,0,0,4,0,279372,plate01,J10,0,0,0,0,4,1,0.0,NaN,0.0,NaN,0.0,NaN
4,279429,plate01,J10,0,0,0,0,5,0,279373,plate01,J10,0,0,0,0,5,1,0.0,NaN,0.0,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,361986,plate01,J10,5,4,0,0,62,0,361852,plate01,J10,5,4,0,0,62,1,0.0,NaN,0.0,NaN,0.0,NaN
860,361987,plate01,J10,5,4,0,0,63,0,361853,plate01,J10,5,4,0,0,63,0,0.0,NaN,0.0,NaN,0.0,NaN
861,361991,plate01,J10,5,4,0,0,67,0,361857,plate01,J10,5,4,0,0,67,0,1.0,NaN,0.0,NaN,0.0,NaN
862,361992,plate01,J10,5,4,0,0,68,0,361858,plate01,J10,5,4,0,0,68,1,0.0,NaN,0.0,NaN,0.0,NaN
863,361993,plate01,J10,5,4,0,0,69,0,361859,plate01,J10,5,4,0,0,69,1,1.0,NaN,1.0,NaN,0.0,NaN

In [14]:
train.__dict__.keys()

dict_keys(['log', 'mapobject_ids', 'metadata', 'channels', 'labels', 'x', 'y', 'seed', 'mpp', 'mcu_ids', 'conditions'])

In [29]:
train_ids = np.unique(train.mapobject_ids)
print(train_ids.shape)
train_ids

(864,)

array([193561, 193562, 193563, 193565, 193567, 193569, 193570, 193571,
       193572, 193573, 193575, 193577, 193581, 193582, 193583, 193584,
       193585, 208534, 208535, 208537, 208538, 208539, 208541, 208542,
       208543, 208544, 208546, 208549, 208550, 208552, 208553, 208555,
       208556, 208557, 208558, 208559, 208560, 208562, 208563, 208564,
       208565, 208567, 208568, 208569, 208570, 208571, 212782, 212783,
       212785, 212786, 212788, 212790, 212791, 212792, 212794, 212795,
       212796, 212797, 212798, 212799, 212800, 212801, 212802, 212803,
       212805, 212806, 212807, 212808, 212809, 212810, 212811, 212814,
       224165, 224166, 224167, 224169, 224170, 224171, 224173, 224174,
       224176, 224177, 224178, 224179, 224180, 224181, 224182, 224183,
       224184, 246827, 246828, 246829, 246830, 246832, 246834, 246835,
       246836, 246837, 246838, 246839, 246840, 246842, 246844, 246845,
       246846, 246847, 246848, 246850, 246852, 246854, 246855, 246857,
       246858, 246860, 246862, 246863, 246864, 246865, 246866, 246867,
       246868, 246869, 246870, 246871, 246872, 246873, 246874, 246875,
       246876, 249424, 249425, 249427, 249428, 249430, 249432, 249433,
       249434, 249435, 249437, 249438, 249439, 249441, 249442, 249443,
       249444, 249445, 249446, 249447, 249448, 249449, 249450, 249451,
       249453, 249454, 249455, 249456, 249457, 249459, 249461, 249462,
       249463, 249464, 249465, 249466, 249467, 249468, 249469, 249471,
       249476, 258565, 258566, 258571, 258572, 258573, 258574, 258575,
       258576, 258577, 258578, 258579, 258582, 258583, 258584, 258585,
       258586, 258587, 258589, 258590, 258591, 258592, 258593, 258595,
       258599, 258600, 258601, 258602, 258603, 258604, 258609, 258610,
       258611, 258612, 258613, 258615, 258616, 259948, 259952, 259953,
       259954, 259955, 259956, 259958, 259959, 259960, 259961, 259963,
       259964, 259965, 259966, 259967, 259968, 259971, 259972, 259973,
       259974, 259975, 259977, 259978, 259979, 259980, 259981, 259983,
       259984, 259985, 259986, 259987, 259989, 259991, 262988, 262989,
       262991, 262992, 262995, 262996, 262997, 262998, 262999, 263000,
       263001, 263002, 263003, 263004, 263005, 263008, 263009, 263010,
       263011, 263012, 263013, 263014, 263015, 263018, 263020, 263021,
       263023, 263024, 263025, 263026, 263027, 263028, 263029, 263030,
       263031, 263032, 263034, 263035, 271113, 271114, 271117, 271118,
       271120, 271122, 271124, 271125, 271127, 271128, 271129, 271131,
       271132, 271133, 271134, 271135, 271136, 271137, 271138, 271139,
       271140, 271142, 271144, 271145, 271146, 271147, 271148, 271149,
       271150, 271151, 271152, 271153, 271154, 271155, 271157, 271160,
       275880, 275882, 275886, 275887, 275888, 275889, 275892, 275894,
       275895, 275896, 275899, 277065, 277066, 277067, 277070, 277071,
       277072, 277074, 277075, 277078, 277079, 277081, 277082, 277083,
       277085, 277086, 277087, 277089, 277090, 278725, 278726, 278728,
       278729, 278730, 278731, 278732, 278733, 278734, 278735, 278736,
       278738, 278739, 278740, 278741, 278742, 278743, 278744, 278745,
       278746, 278747, 278749, 278750, 278751, 278753, 278754, 278755,
       278756, 278757, 279425, 279426, 279427, 279428, 279429, 279430,
       279432, 279433, 279435, 279436, 279438, 279442, 279443, 279444,
       279445, 279447, 279448, 279449, 279450, 279453, 279455, 279456,
       279458, 279459, 279460, 279462, 279463, 279464, 279465, 279467,
       279468, 279469, 279470, 279472, 279473, 279475, 279477, 279478,
       284759, 284763, 284764, 284765, 284768, 284769, 284771, 284772,
       284774, 284776, 284777, 284778, 284779, 284781, 284782, 284783,
       284784, 284785, 284787, 284788, 284789, 284791, 284792, 284794,
       284796, 284797, 284798, 284799, 284800, 284802, 284803, 284804,
       284805, 284806, 284807, 284808, 284813, 287423, 287426, 287428,
       287430, 287432, 287433, 287434, 287435, 287436, 287437, 287440,
       287443, 287445, 287446, 287447, 287448, 298388, 298389, 298390,
       298392, 298393, 298394, 298395, 298398, 298399, 298401, 298402,
       298403, 298404, 315259, 315260, 315263, 315264, 315265, 315266,
       315268, 315270, 315271, 315272, 315274, 315275, 315276, 315277,
       315278, 315279, 315280, 315282, 315283, 315284, 315285, 315286,
       315287, 315289, 315290, 315291, 315292, 315294, 315295, 315296,
       315297, 315298, 315299, 315301, 315302, 315303, 315304, 315306,
       315308, 321047, 321050, 321052, 321053, 321054, 321056, 321057,
       321058, 321059, 321060, 321061, 321064, 321065, 321067, 321068,
       321073, 321074, 321075, 321076, 321077, 321079, 321080, 321081,
       321083, 321084, 321085, 321086, 321087, 321090, 321091, 321092,
       321093, 321094, 321098, 321099, 323187, 323189, 323193, 323195,
       323196, 323197, 323198, 323200, 323203, 323204, 323206, 323208,
       323209, 323212, 323213, 323214, 323215, 323216, 323217, 323220,
       323223, 323224, 323226, 323227, 323228, 323229, 323231, 323232,
       323233, 323234, 323235, 323236, 323237, 323238, 323240, 323242,
       323244, 323245, 323246, 337010, 337012, 337013, 337015, 337017,
       337018, 337019, 337020, 337022, 337023, 337026, 337028, 337030,
       340071, 340076, 340079, 340081, 340082, 340083, 340085, 340086,
       340089, 340090, 340091, 340092, 340093, 340094, 340095, 340099,
       340100, 340103, 340107, 340108, 346253, 346254, 346260, 346261,
       346263, 346264, 346265, 346266, 346268, 346269, 346270, 346271,
       346273, 346274, 346276, 351298, 351300, 351303, 351306, 351307,
       351308, 351309, 351310, 351311, 351315, 351316, 351317, 351318,
       351319, 351320, 351322, 351323, 351325, 351326, 351329, 351330,
       351331, 351332, 351333, 351334, 351335, 351337, 351338, 351340,
       351342, 351343, 351344, 351345, 351346, 351347, 351351, 351352,
       351353, 351354, 351356, 351357, 351358, 353330, 353331, 353332,
       353333, 353334, 353336, 353337, 353338, 353341, 353342, 353346,
       353349, 353351, 353353, 353354, 353355, 353357, 357524, 357525,
       357527, 357528, 357529, 357530, 357532, 357533, 357534, 357535,
       357536, 357537, 357538, 357540, 357541, 357542, 357543, 357544,
       357546, 357548, 357549, 357551, 357553, 357556, 357557, 357559,
       357560, 357561, 357562, 357563, 357564, 357565, 357566, 357567,
       357568, 361927, 361929, 361932, 361934, 361935, 361936, 361937,
       361938, 361940, 361941, 361942, 361944, 361946, 361947, 361949,
       361950, 361952, 361953, 361954, 361955, 361956, 361957, 361958,
       361959, 361960, 361963, 361964, 361965, 361966, 361967, 361968,
       361969, 361970, 361971, 361973, 361974, 361975, 361977, 361979,
       361981, 361982, 361984, 361986, 361987, 361991, 361992, 361993,
       363242, 363243, 363246, 363247, 363250, 363252, 363253, 363254,
       363255, 363256, 363257, 363258, 363259, 363260, 363262, 363263,
       363265, 363266, 363267, 363268, 363272, 363273, 363275, 363277,
       363278, 363279, 363281, 363282, 363283, 363284, 363285, 363286,
       363287, 363292, 379447, 379448, 379449, 379450, 379451, 379454,
       379456, 379457, 379458, 379461, 379462, 379463, 379464, 379465,
       379466, 379467, 379468, 379469, 379470, 379471, 379472, 379473,
       379474, 380650, 380651, 380652, 380654, 380656, 380659, 380660,
       380661, 380662, 380664, 380665, 380666, 380667, 380668, 380673,
       380674, 380675, 380678, 380679, 380680, 380681, 380682, 380684,
       380685, 380687, 380688, 380690, 380692, 380693, 380695, 380696],
      dtype=uint32)

In [28]:
train.metadata.mapobject_id

0      279425
1      279426
2      279427
3      279428
4      279429
        ...
859    361986
860    361987
861    361991
862    361992
863    361993
Name: mapobject_id, Length: 864, dtype: int64

In [13]:
mpp_data.mapobject_ids

array([279425, 279425, 279425, ..., 361993, 361993, 361993], dtype=uint32)

In [12]:
ids = np.unique(mpp_data.mapobject_ids)
np.random.seed(42)
np.random.shuffle(ids)
num_train = int(len(ids)*p['train_frac'])
num_val = int(len(ids)*p['val_frac'])
train_ids = ids[:num_train]
val_ids = ids[num_train:num_train+num_val]
test_ids = ids[num_train+num_val:]

count = 0
for split_ids in (train_ids, val_ids, test_ids):
    print(count)
    count += 1
    print(split_ids.shape)
    ind = np.in1d(mpp_data.mapobject_ids, split_ids)
    print(ind)
    print(ind.shape)
    print(np.sum(ind))
    print("")

0
(864,)
[ True  True  True ...  True  True  True]
(14265789,)
11476949

1
(108,)
[False False False ... False False False]
(14265789,)
1402814

2
(108,)
[False False False ... False False False]
(14265789,)
1386026

In [30]:
ids = np.unique(mpp_data.mapobject_ids)
print(ids)

[193561 193562 193563 ... 380693 380695 380696]

In [33]:
np.random.seed(42)
np.random.shuffle(ids)
print(ids)

[361965 340105 277082 ... 321068 346276 275891]

In [44]:
train_ids

array([278732, 287433, 337013, 315268, 380665, 315297, 363266, 363268,
       380687, 361941, 380661, 298404, 321057, 249428, 271149, 279426,
       271113, 279478, 361927, 357548, 208570, 212796, 279467, 275894,
       284796, 363262, 351347, 271155, 379464, 340093, 321080, 323197,
       208565, 259977, 249444, 315298, 340094, 212814, 263010, 380692,
       275895, 323227, 323195, 361975, 363267, 246828, 224165, 208544,
       346271, 287426, 249463, 279475, 275887, 249471, 315302, 351354,
       361952, 321085, 279432, 357535, 278751, 380678, 323212, 259989,
       353337, 351329, 357529, 279458, 284799, 351335, 287447, 379448,
       315277, 275882, 246832, 298401, 380690, 361969, 357534, 361965,
       259955, 315292, 224184, 212783, 340071, 271134, 323240, 277078,
       380685, 208535, 357561, 246864, 284765, 278750, 271138, 379474,
       357541, 279444, 224178, 249448, 287448, 346273, 361982, 363275,
       271118, 315263, 284794, 208563, 351320, 323215, 321056, 363254,
       212802, 363259, 193573, 323242, 249469, 271114, 258572, 259991,
       351358, 258582, 258613, 284789, 279447, 224173, 212810, 279438,
       379457, 351325, 323234, 363279, 262989, 246862, 340091, 346254,
       323236, 380659, 278742, 212805, 284807, 258573, 361942, 279442,
       351303, 208553, 208543, 380651, 246858, 208568, 351351, 259973,
       361940, 298390, 277070, 193565, 263008, 262997, 380662, 321079,
       361953, 340089, 284772, 212782, 212788, 278745, 271135, 224177,
       249438, 315266, 263035, 380668, 298388, 284797, 258609, 258610,
       278753, 278729, 284778, 258574, 212791, 262992, 212792, 346260,
       193577, 263034, 284788, 278740, 287440, 357565, 323237, 249455,
       263021, 258579, 278756, 262998, 379472, 379468, 353330, 353357,
       258595, 379454, 271129, 193563, 279477, 337015, 351309, 357532,
       379471, 263020, 284782, 351353, 361934, 340083, 277083, 259975,
       363286, 321050, 321068, 357537, 315272, 271125, 353336, 263013,
       263009, 337019, 258602, 263026, 263005, 361991, 271133, 224183,
       315286, 208569, 258577, 246840, 287443, 208538, 212798, 363265,
       208558, 315283, 284759, 337023, 259980, 380667, 275896, 277087,
       277085, 259986, 263031, 337022, 278733, 337020, 259959, 279472,
       321086, 271145, 271142, 361959, 212785, 278738, 224169, 323200,
       259965, 337030, 361981, 277065, 263024, 249453, 284785, 262995,
       246829, 357568, 357567, 284771, 357538, 351326, 315264, 259960,
       323208, 284791, 284813, 351342, 246860, 357566, 379447, 353338,
       263030, 321059, 315295, 208542, 249435, 258615, 279459, 271127,
       351338, 337010, 298395, 275886, 361974, 287445, 212790, 363256,
       361963, 271151, 259953, 340095, 271146, 258585, 258600, 277079,
       361929, 263004, 340090, 346276, 379461, 258616, 357536, 279436,
       212797, 224171, 208546, 337026, 259958, 258566, 278736, 351322,
       340108, 212803, 212811, 315296, 212809, 361957, 279464, 380664,
       315275, 379470, 351318, 351344, 193567, 263011, 351333, 224181,
       224174, 271137, 315301, 263015, 363257, 315282, 363263, 259981,
       315280, 259966, 284805, 361944, 321091, 284769, 363272, 315278,
       246838, 361947, 259948, 315285, 259985, 278746, 193572, 278734,
       249467, 323214, 271154, 212808, 315260, 361956, 323232, 258604,
       351357, 258575, 351330, 279455, 287436, 258591, 363250, 315276,
       279429, 357564, 249447, 380695, 284779, 279460, 380650, 353349,
       284763, 279468, 193570, 361946, 249425, 271140, 315299, 258587,
       263032, 321090, 284784, 357542, 279445, 321074, 353346, 321073,
       323203, 380654, 346269, 284802, 379449, 379463, 321094, 351317,
       351300, 249433, 258592, 315274, 351343, 258576, 357527, 212806,
       246871, 263001, 279425, 278739, 315259, 284798, 208557, 279427,
       246855, 321052, 279463, 298398, 263012, 277082, 287430, 323217,
       287434, 361949, 353342, 193561, 278731, 271144, 275888, 263018,
       351316, 321047, 287437, 379451, 380652, 315303, 249442, 279428,
       246846, 361936, 323189, 321054, 379467, 224167, 380660, 249451,
       271147, 284803, 259974, 357560, 379450, 212795, 262988, 246852,
       262999, 287423, 263029, 246867, 284808, 321093, 361993, 246857,
       271120, 353354, 249434, 208541, 321067, 249464, 321092, 337012,
       278743, 351323, 249439, 323245, 246863, 249443, 193569, 337017,
       298389, 357543, 279473, 315270, 212799, 346264, 284800, 258603,
       246868, 357559, 258599, 258584, 258578, 340086, 246854, 380693,
       315271, 340079, 249456, 208555, 246827, 323193, 284792, 351306,
       279465, 279448, 208537, 284804, 315279, 357524, 351298, 271150,
       321099, 275889, 279433, 259964, 315294, 346263, 278755, 277066,
       249446, 193584, 298393, 321076, 212786, 259972, 363282, 259978,
       363243, 271152, 323228, 321081, 361973, 287432, 323220, 340085,
       279435, 275899, 361987, 340103, 275880, 277086, 212800, 363277,
       284764, 353333, 246834, 278726, 224166, 379469, 363260, 323216,
       323223, 193575, 277067, 357528, 357562, 208556, 249437, 278725,
       298399, 361954, 278735, 287428, 363278, 380675, 346265, 323224,
       259956, 271117, 193581, 323244, 263027, 353351, 258586, 249449,
       224176, 284787, 208534, 271139, 340099, 363255, 351311, 271122,
       278741, 321053, 361970, 258565, 323246, 224170, 337028, 212794,
       323235, 259984, 361932, 278744, 246876, 212801, 351346, 298403,
       278757, 249459, 259971, 258601, 279469, 380656, 287446, 246837,
       361950, 284777, 361958, 323196, 246847, 246836, 279453, 363284,
       208571, 315284, 363253, 224182, 321058, 271153, 259968, 208560,
       271132, 249466, 224179, 361971, 357563, 346274, 351352, 259963,
       361960, 278754, 346253, 263003, 271124, 323209, 263014, 246872,
       246845, 357551, 361955, 208564, 271136, 379473, 246865, 279450,
       321077, 277071, 323238, 263023, 193585, 363283, 357556, 361938,
       277081, 284806, 323233, 208552, 249445, 258611, 361964, 340100,
       380696, 363252, 249424, 321061, 321087, 259987, 315308, 323204,
       323213, 298392, 353331, 193583, 246848, 263025, 259954, 340082,
       380679, 249461, 246835, 380673, 323229, 315287, 249450, 263000,
       353353, 379466, 351337, 346266, 340092, 284783, 271157, 208559,
       279456, 249427, 353332, 249441, 193582, 284776, 208562, 249462,
       361979, 284781, 351308, 346268, 279462, 259983, 351331, 340076,
       258589, 208539, 357546, 278747, 380666, 271148, 258593, 208550,
       321098, 380680, 271160, 279449, 380681, 323206, 361992, 361986,
       351340, 249465, 363247, 363258, 284768, 380682, 361967, 298402,
       249430, 323198, 363292, 249432, 323226, 351310, 246875, 363242,
       351307, 379456, 246830, 258590, 346270, 224180, 278730, 278728,
       379458, 315265, 357544, 323187, 246839, 208567, 246874, 277075,
       380688, 258571, 321083, 361984, 361966, 193571, 361937, 208549,
       279430, 321075, 259952, 263002, 353334, 298394, 315304, 351319,
       351332, 363273, 259961, 315291, 262996, 277089, 246873, 357553,
       346261, 321064, 363287, 287435, 357557, 279470, 323231, 246870,
       246869, 351334, 271128, 351356, 363281, 321084, 340107, 271131,
       279443, 263028, 249457, 246844, 363246, 315289, 246866, 340081,
       380674, 249468, 315290, 259979, 262991, 361968, 277072, 246842,
       249454, 249476, 278749, 351345, 258612, 277090, 357540, 357525,
       379462, 357530, 363285, 246850, 321060, 277074, 357549, 357533,
       337018, 379465, 258583, 321065, 193562, 353341, 361935, 212807,
       315306, 361977, 353355, 275892, 380684, 351315, 284774, 259967],
      dtype=uint32)